* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background-color: black;
  color: white;
}

/* .wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.box {
  height: 200px;
  width: 200px;
  background-color: peachpuff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h1 {
  color: black;
}

#box1 {
  background-color: lavender;
}

#box3 {
  background-color: lightgreen;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #loader1 {
  height: 80px;
  width: 80px;
  border-top: 8px solid white;
  border-left: 8px solid white;
  border-radius: 50%;
} */

/* #loader2{
    height:80px;
    width:80px;
    background-color:#fafafa;
    border-radius:50%;
    opacity:0;
} */

/* 2nd exampla */
/* main h1 {
  font-size: 4rem;
}
main p {
  font-size: 1.3rem;
}

main p span {
  opacity: 0;
}

main div {
  height: 50px;
  width: 50px;
  border: 4px solid white;
  transform: scale(0);
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
nav h1 {
  color: #999;
}

ul {
  display: flex;
  gap: 10px;
}

nav ul li {
  list-style-type: none;
  color: #777;
}

main {
  height: calc(100vh-95px);
  width: 100vw;
}
main h1 {
  color:#555;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  white-space: nowrap;
}
